.project {

    display: flex;
    justify-content: top;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap : 30px;
    margin-top:50px;
}

.project-tiles {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 90%;
    height:40%;
}

.project-tile {
    display : flex;
    flex-direction : column;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-title{
    position:relative;

}

.project-tile:hover {
    transform: scale(1.05);
    border: 2px solid #8d37b5;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}
.project-title h1{
    top : 3px;
    font-size : 50px;
    position : absolute;
    z-index : 2;
}
.project-tile .img-section img{
    /*width : 100%;*/
    /*height: 100%;*/
    object-fit : fill;
}

.project-tile .img-section, .project-tile .desc-section {
    flex : 1;
}

.project-tile p {
    padding: 10px;
    font-family: 'Arial', sans-serif; /* Change this to your preferred font */
    font-size: 16px; /* Adjust size as needed */
    color: #f8f1f1; /* Adjust color as needed */
    line-height: 1.5; /* Adjust line height for readability */
    text-align: justify; /* Aligns the text to both left and right margins */
}