.about-me {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.left-section {
  flex: 1;
  padding-right: 20px;
}

.right-section {
  flex: 1;
  padding-left: 20px;
}

.right-section img {
  width: 80%;
  height: auto;
}

.about-me h1 {
  font-size: 2em;
  color: #a43dea;
  margin-bottom: 20px;
}

.about-me p {
  font-size: 1em;
  color: #ede3e3;
  line-height: 1.5;
  text-align: left;
}
